$main-color: #99BAED;

* {
    font-family: 'Catamaran', sans-serif;
    box-sizing: border-box;
    border: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    color: #163561;
    span {
        color: #FBB400;
    }
}

h2 {
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    color: #163561;
    margin-bottom: 30px;
    span {
        color:#FBB400;
    }
}
.h2-center {
    text-align: center;
    display: block;
}

.main-p {
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #153461;
    padding-bottom: 20px;
}

li {
    list-style-type: none;
}

.site-wrapper {
    overflow-x: hidden;
}

p {
    font-size: 20px;
    color: #153461;
    margin: 0;
}

.site-wrapper {
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

.btn {
    padding: 5px 10px;
    background: $main-color;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    margin-top: 30px;
}

@import 'blocks/header';
@import 'blocks/menu-mobile';
@import 'blocks/promo';
@import 'blocks/history';
@import 'blocks/services';

@import 'media';