.promo {
    margin-top: 30px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        &__content {
            h1 {
                font-weight: bold;
                font-size: 25px;
                line-height: 35px;
                color: #163561;
                span {
                    color: #FBB400;
                }
            }
            p {
                margin-top: 20px;
                font-size: 20px;
                color: #153461;
            }
            &-btn {
                margin-top: 30px;
            }
        }
        &__img {
            margin-top: 30px;
            img {
                width: 100%;
            }
        }
    }
}