.promo {
    margin-top: 30px;
    &__content {
        h1 {
            font-weight: bold;
            font-size: 30px;
            line-height: 40px;
            color: #163561;
            margin-bottom: 10px;
            span {
                color: #FBB400;
            }
        }
        p {
            font-size: 20px;
            color: #153461;
            opacity: 0.65;
        }
    }

    &__btn {
        margin-top: 50px;
    }
}